#acerca-de-nosotros {
  .columnas-acerca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 40px;
    margin: 0 150px;

    .col-izq {
      max-width: 500px;
      margin: 0 auto;
      position: relative;
      width: 100%;
      margin: auto 0;

      .principal {
        border-radius: 15px;
        width: 100%;
      }

      .secundario {
        border-radius: 10px;
        width: 150px;
        position: absolute;
        bottom: -30px;
        left: 30%;
      }
    }

    .col-der {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .titulo-somos {
        font-size: 19px;
        color: var(--boton2);
        line-height: 0;
        margin-top: 10px;
      }
      p {
        line-height: 25px;
        text-align: justify;
        margin: 0;
        &.dark {
          color: var(--fondo);
        }
      }

      a {
        align-items: center;
        color: var(--fondo);
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 10px auto 0;
        width: fit-content;
        padding: 10px 25px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .columnas-acerca {
      margin: 0 50px;
      gap: 20px;

      .col-der {
        .titulo-somos {
          font-size: 18px;
        }
        p {
          line-height: 1.5;
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .columnas-acerca {
      grid-template-columns: 1fr;
      gap: 40px;
      margin: 0 40px;

      .col-izq {
        max-width: 450px;

        .principal {
          width: 100%;
        }

        .secundario {
          border-radius: 10px;
          width: 150px;
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .col-der {
        gap: 10px;
        align-items: center;
        text-align: center;
        .titulo-somos {
          font-size: 17px;
          margin-top: 15px;
        }
        p {
          text-align: center;
          font-size: 15px;
          line-height: 1.4;
        }
      }
    }
  }

  @media screen and (max-width: 562px) {
    .columnas-acerca {
      margin: 0 20px;
      gap: 40px;

      .col-izq {
        .secundario {
          border-radius: 10px;
          width: 150px;
          bottom: -30px;
          position: absolute;
          left: 50%;
        }
      }

      .col-der {
        gap: 15px;
        .titulo-somos {
          font-size: 16px;
        }
        p {
          font-size: 14px;
          line-height: 1.3;
        }

        a {
          padding: 8px 20px;
          font-size: 14px;
        }
      }
    }
  }
}
