footer {
  margin: 120px 0;

  .redes {
    text-align: center;
    h3,
    p {
      color: #595959;
    }

    .redes-sociales {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin: 20px 0;
      .red-social {
        background-color: #d9d9d9;
        padding: 5px 20px;
        border-radius: 50px;
        .bi {
          height: 16px;
          flex-shrink: 0;
          margin-left: 10px;
          width: 16px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      & {
        .redes-sociales {
          gap: 20px;
          .red-social {
            font-size: 14px;
            .bi {
              height: 14px;
              flex-shrink: 0;
              margin-left: 10px;
              width: 14px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 562px) {
      & {
        .redes-sociales {
          flex-wrap: wrap;
        }
      }
    }
  }
  .derechos {
    p {
      font-size: 12px;
      text-align: center;
      color: #737373;
    }
  }
}
